body {
     background-color: lightskyblue;
}

header {
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: navy;
    text-align: center;
}
header, h1, h2 {
    display: block;
}
.side-bar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightskyblue;
    overflow-x: hidden;
}
.side-bar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }
.container {
    background-color: gainsboro;
}
 #twitter {
      width: 75px;
      height: 75px;
      padding: 15px;
  }
  #linkedin {
      width: 100px;
      height: 45px;
      padding: 15px;
  }
  #github {
      width: 55px;
      height: 55px;
      padding: 15px;
  }
#skills, #experience, #projects {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 16px;
} 