#banner-container{
  background-image: url("./images/tmp-laptop.png");
  width: 100%;
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center; /*center text*/
  display: flex;
  justify-content: center; /*center whole div */
  align-content: center;
}
#banner-text {
  background-color: orange;
  color: white;
  height: 100px;
  width: 100%;
  display:inline-block;
  margin: auto 0;
}
.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.section-title {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: absolute;
}
.container-card {
  padding: 5px;
  margin: 50px;
  width: 250px;
}
.skills {
  border-style: solid;
  border-color: orange;
  border-width: 1px;
  border-radius: 10%;
}
.project-img {
  width: 100px;
  height: 100px;
  background-image: url("./images/Twitter_Logo_Blue.png");
  border-radius: 50%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.certificate {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 300px;
  border-radius: 10%;
  border-width: 1px;
  border-color: orange;
  border-style: solid;
}
.cert-text {
  text-align: center;
  align-content: center;
  background-color: orange;
}

#cert1 {
  background-image: url("./images/command-line-certificate-1.png");
}
#cert2 {
  background-image: url("./images/git-certificate-1.png");
}
#cert3 {
  background-image: url("./images/javascript-sites-certificate-1.png");
}